
::-webkit-scrollbar {
    width: 4px;
    border-radius: 34px;
    background: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 30px;
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 34px;
}

:root>* {
    --md-primary-fg-color: #ed7600;
    --md-primary-fg-color--light: #ed7600;
    --md-primary-fg-color--dark: #ed7600;
    --md-default-fg-color--lighter: #ed7600;
    --md-accent-fg-color: #ed7600;
}

 *{
    font-family: 'CircularXXSub-Regular',sans-serif !important;

} 

.md-header__topic:first-child {
    font-weight: 400;
}

.md-typeset {
    font-size: .8rem;
}

.md-sidebar--secondary .md-nav {
    font-size: .65rem;
}

thead tr td {
    font-weight: 700 !important;
}

tbody tr {
    background: none !important;
}

h1 {
    color: #ed7600 !important;
    font-family: 'CircularXXSub-Medium', sans-serif !important;
}

h2 {
    color: #ed7600 !important;
    font-family: 'CircularXXSub-Medium', sans-serif !important;
}

h3 {
    color: #ed7600 !important;
    font-family: 'CircularXXSub-Medium', sans-serif !important;
}

h4 {
    color: #ed7600 !important;
    /*font-family: 'CircularXXSub-Regular',sans-serif !important;*/
    margin-bottom: 0px !important;
}

h5 {
    color: #ed7600 !important;
    /*font-family: 'CircularXXSub-Medium',sans-serif !important;*/
}

.md-nav.md-nav--primary .md-nav__item {
    margin-bottom: 0.75rem;
}

.md-content__inner {
    margin: 0 0.8rem 1.2rem;
    padding-top: 0.6rem;
}

p {
    margin-top: 0px !important;
}

.md-header {
    background: #fff !important;
    color: #000;
    box-shadow: 1px 1px 3px #ddd !important;
}

a.md-logo img {
    width: 6rem !important;
    height: 2rem !important;
}

.md-header__topic:first-child {
    font-weight: 400 !important;
    color: #000000 !important;
}

.md-nav__item .md-nav__link--active {
    color: #ed7600 !important;
}

.md-nav--primary .md-nav__list .md-nav__item .md-nav__link.md-nav__link--active {
    color: #ed7600 !important;
    font-weight: 700;

}

.md-sidebar--secondary .md-sidebar__scrollwrap {
    background: #f6f6f6;
    border-radius: 4px !important;
}

.md-search__form {
    background: #f6f6f6;
    color: #ed7600 !important;
}

.md-search__input+.md-search__icon {
    color: #ed7600 !important;
}

.md-search__input::placeholder {
    color: #ed7600 !important;
}

.md-nav__title {
    margin-top: 0.2rem !important;

    /*font-family: 'CircularXXSub-Regular',sans-serif !important;*/
}

.md-search__form:hover {
    background-color: #f6f6f6 !important;
}

.md-header__title[data-md-state=active] .md-header__topic+.md-header__topic {
    color: #ed7600 !important;
}

.md-footer {
    background: #ed7600;
}

.md-search-result__meta {
    background: #f6f6f6;
    color: #ed7600;
}

.md-main__inner {
    display: flex;
    height: 100%;
    margin-top: 0.5rem;
}

.md-search-result__item {
    background: #f6f6f6;

}

.md-search-result__item {
    color: #ed7600 !important;
}

img[alt=01] {
    width: 100% !important;
}


/* .md-sidebar--secondary .md-nav__item {
    padding-left: 1.2rem !important;
} */

.required {
    background: #efefef !important;
    padding: 1px;
    padding-right: 3px;
    font-size: 10px !important;
}

.code {
    background-color: #efefef !important;
    font-family: "Inter", 'Courier New', Courier, monospace !important;
    font-size: 13px !important;
}

.md-nav {
    padding: 10px !important;
    transition: max-height .25s cubic-bezier(.86, 0, .07, 1);
}


.md-nav--primary .md-nav__list .md-nav__item .md-nav__link {
    color: #343434;
}

.md-nav--primary .md-nav__title[for=__drawer] {
    color: #343434 !important;
}

.md-nav--secondary .md-nav__title[for=__toc] {
    color: #343434;
    font-weight: 600;
}

.md-nav--secondary .md-nav__list .md-nav__item {
    color: #343434;
}

::selection {
    background-color: #f6f6f6;
}

.md-typeset code:not(.focus-visible) {
    background: #f6f6f6;
}

table thead {
    background-color: #ffd6ad5b;
    /* color: #ed7600; */
}

.python_doc {
    display: flex;
    align-items: center;
}

.border {
    border: 1px solid #E5E5FF;
    padding: 10px;
    border-radius: 11px;
}

.float-right {

    float: left;
}

.hide {
    display: flex;
}

.showing {
    display: none;
}

.pybtn {
    color: #844aeb;
    font-weight: 700;
    font-size: 16px;
}

.card_request_link {
    font-size: 16px;
    color: #ed7600;
    /*font-family: 'CircularXXSub-Regular',sans-serif;*/
    font-weight: 700;
}

@media screen and (max-width: 76.1875em) {
    .hide {
        display: none;
    }

    .showing {
        display: flex;
    }

    .pybtn {
        color: #ed7600;
        font-weight: 700;
        font-size: 14px;
    }

    .card_request_link {
        font-size: 12px;
        color: #ed7600;
        /*font-family: 'CircularXXSub-Regular',sans-serif;*/
        font-weight: 700
    }

    .md-nav--primary .md-nav__title[for=__drawer] {
        /* background-color: #fff !important; */
        color: #ed7600 !important;
        font-weight: 500 !important;
    }

    .md-nav {
        padding: 5px !important;
        transition: max-height .25s cubic-bezier(.86, 0, .07, 1);
    }

    .md-nav--primary .md-nav__title[for=__drawer] {
        background-color: #fff !important;
        color: #343434 !important;
        font-weight: 600 !important;
    }

    .md-nav--secondary .md-nav__title[for=__toc] {
        background-color: #fff;
        color: #343434 !important;
        font-weight: 600;
    }

    .md-nav--secondary .md-nav__list .md-nav__item {
        color: #343434;
    }
}

.md-sidebar--secondary .md-sidebar__scrollwrap {
    background: #ffd6ad5b;
    border-radius: 4px !important;
    height: auto !important;
}

@media screen and (min-width: 60em) {
    .md-nav--secondary .md-nav__title {
        background: transparent;
        box-shadow: none !important;
    }
}

  .md-top {
    background-color: #ff952c;
    color: rgb(255, 250, 250);
    box-shadow: #ed7600
}


.md-typeset [type=checkbox]:checked+.task-list-indicator:before {
    background-color: #ed7600;
}

html .md-typeset .admonition>:last-child,
html .md-typeset details>:last-child {
    margin: 5px 0 !important;
}

.md-typeset .admonition,
.md-typeset details {
    border-left-width: 4px;
}

.md-typeset .admonition.message,
.md-typeset .admonition.message details {
    border-width: .05rem;
}

.md-typeset .note>.admonition-title,
.md-typeset .note>summary {
    background-color: #ffffff1a !important;
}



font-face {
  font-family: "CircularXXWeb-Thin";
  src: url("CircularXXWeb-Thin.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Thin";
  src: url("CircularXXWeb-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("CircularXXWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("CircularXXWeb-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-LightItalic";
  src: url("CircularXXWeb-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-LightItalic";
  src: url("CircularXXWeb-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-MediumItalic";
  src: url("CircularXXWeb-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-MediumItalic";
  src: url("CircularXXWeb-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("CircularXXWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("CircularXXWeb-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Regular";
  src: url("CircularXXWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Regular";
  src: url("CircularXXWeb-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-ExtraBlackItalic";
  src: url("CircularXXWeb-ExtraBlackItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-ExtraBlackItalic";
  src: url("CircularXXWeb-ExtraBlackItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-BookItalic";
  src: url("CircularXXWeb-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-BookItalic";
  src: url("CircularXXWeb-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Light";
  src: url("CircularXXWeb-Light.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Light";
  src: url("CircularXXWeb-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-ThinItalic";
  src: url("CircularXXWeb-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-ThinItalic";
  src: url("CircularXXWeb-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("CircularXXWeb-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("CircularXXWeb-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Black";
  src: url("CircularXXWeb-Black.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Black";
  src: url("CircularXXWeb-Black.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-ExtraBlack";
  src: url("CircularXXWeb-ExtraBlack.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-ExtraBlack";
  src: url("CircularXXWeb-ExtraBlack.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Italic";
  src: url("CircularXXWeb-Italic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Italic";
  src: url("CircularXXWeb-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-BlackItalic";
  src: url("CircularXXWeb-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-BlackItalic";
  src: url("CircularXXWeb-BlackItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-BoldItalic";
  src: url("CircularXXWeb-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-BoldItalic";
  src: url("CircularXXWeb-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-BookItalic";
  src: url("CircularXXWeb-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-BookItalic";
  src: url("CircularXXWeb-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Light";
  src: url("CircularXXWeb-Light.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Light";
  src: url("CircularXXWeb-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("CircularXXWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("CircularXXWeb-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-BlackItalic";
  src: url("CircularXXWeb-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-BlackItalic";
  src: url("CircularXXWeb-BlackItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Black";
  src: url("CircularXXWeb-Black.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Black";
  src: url("CircularXXWeb-Black.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-BoldItalic";
  src: url("CircularXXWeb-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-BoldItalic";
  src: url("CircularXXWeb-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Italic";
  src: url("CircularXXWeb-Italic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Italic";
  src: url("CircularXXWeb-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("CircularXXWeb-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Medium";
  src: url("CircularXXWeb-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Thin";
  src: url("CircularXXWeb-Thin.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Thin";
  src: url("CircularXXWeb-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-LightItalic";
  src: url("CircularXXWeb-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-LightItalic";
  src: url("CircularXXWeb-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-MediumItalic";
  src: url("CircularXXWeb-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-MediumItalic";
  src: url("CircularXXWeb-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("CircularXXWeb-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("CircularXXWeb-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-ThinItalic";
  src: url("CircularXXWeb-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-ThinItalic";
  src: url("CircularXXWeb-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Regular";
  src: url("CircularXXWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Regular";
  src: url("CircularXXWeb-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-ExtraBlack";
  src: url("CircularXXWeb-ExtraBlack.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-ExtraBlack";
  src: url("CircularXXWeb-ExtraBlack.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-ExtraBlackItalic";
  src: url("CircularXXWeb-ExtraBlackItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-ExtraBlackItalic";
  src: url("CircularXXWeb-ExtraBlackItalic.woff2") format("woff2");
}


/* subset */

@font-face {
  font-family: "CircularXXSub-Thin";
  src: url("CircularXXSub-Thin.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Thin";
  src: url("CircularXXSub-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Medium";
  src: url("CircularXXSub-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Medium";
  src: url("CircularXXSub-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-LightItalic";
  src: url("CircularXXSub-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-LightItalic";
  src: url("CircularXXSub-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-MediumItalic";
  src: url("CircularXXSub-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-MediumItalic";
  src: url("CircularXXSub-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("CircularXXSub-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("CircularXXSub-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Regular";
  src: url("CircularXXSub-Regular.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Regular";
  src: url("CircularXXSub-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-ExtraBlackItalic";
  src: url("CircularXXSub-ExtraBlackItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-ExtraBlackItalic";
  src: url("CircularXXSub-ExtraBlackItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-BookItalic";
  src: url("CircularXXSub-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-BookItalic";
  src: url("CircularXXSub-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Light";
  src: url("CircularXXSub-Light.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Light";
  src: url("CircularXXSub-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-ThinItalic";
  src: url("CircularXXSub-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-ThinItalic";
  src: url("CircularXXSub-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("CircularXXSub-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("CircularXXSub-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Black";
  src: url("CircularXXSub-Black.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Black";
  src: url("CircularXXSub-Black.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-ExtraBlack";
  src: url("CircularXXSub-ExtraBlack.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-ExtraBlack";
  src: url("CircularXXSub-ExtraBlack.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Italic";
  src: url("CircularXXSub-Italic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Italic";
  src: url("CircularXXSub-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-BlackItalic";
  src: url("CircularXXSub-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-BlackItalic";
  src: url("CircularXXSub-BlackItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-BoldItalic";
  src: url("CircularXXSub-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-BoldItalic";
  src: url("CircularXXSub-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-BookItalic";
  src: url("CircularXXSub-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-BookItalic";
  src: url("CircularXXSub-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Light";
  src: url("CircularXXSub-Light.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Light";
  src: url("CircularXXSub-Light.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("CircularXXSub-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("CircularXXSub-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-BlackItalic";
  src: url("CircularXXSub-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-BlackItalic";
  src: url("CircularXXSub-BlackItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Black";
  src: url("CircularXXSub-Black.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Black";
  src: url("CircularXXSub-Black.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-BoldItalic";
  src: url("CircularXXSub-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-BoldItalic";
  src: url("CircularXXSub-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Italic";
  src: url("CircularXXSub-Italic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Italic";
  src: url("CircularXXSub-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Medium";
  src: url("CircularXXSub-Medium.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Medium";
  src: url("CircularXXSub-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Thin";
  src: url("CircularXXSub-Thin.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Thin";
  src: url("CircularXXSub-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-LightItalic";
  src: url("CircularXXSub-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-LightItalic";
  src: url("CircularXXSub-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-MediumItalic";
  src: url("CircularXXSub-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-MediumItalic";
  src: url("CircularXXSub-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("CircularXXSub-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("CircularXXSub-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-ThinItalic";
  src: url("CircularXXSub-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-ThinItalic";
  src: url("CircularXXSub-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Regular";
  src: url("CircularXXSub-Regular.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Regular";
  src: url("CircularXXSub-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-ExtraBlack";
  src: url("CircularXXSub-ExtraBlack.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-ExtraBlack";
  src: url("CircularXXSub-ExtraBlack.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-ExtraBlackItalic";
  src: url("CircularXXSub-ExtraBlackItalic.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-ExtraBlackItalic";
  src: url("CircularXXSub-ExtraBlackItalic.woff2") format("woff2");
}
